body {
  top: 0;
  .simple-keyboard {
    z-index: 99999999999;
    position: fixed;
    bottom: 0;
    display: none;
  }
  &.show-keyboard {
    top: -185px;
    .simple-keyboard {
      display: block;
    }
    .modal {
      top: -185px;
    }
  }
}
